body {
  /*background: lightblue;*/
  background-image: url("images/forecast-background.jpg");
  background-size: cover;
  font-family: verdana;
}

h2, h3, h5 {
  color: white;
  text-shadow: 2px 1px #300000;
}

p {
  color: #282828;
}

#forecast-header {
  display: flex;
  flex-direction: row;
}

#flex-forecast {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 12px;
  text-align: left;
  margin: 0.5%;
}

h4 {
  font-size: 12px;
  font-weight: bold;
}

.daily-forecast-div {
  display: flex;
  flex-direction: row;
  background: white;
  border: 1px solid gray;
  text-align: center;
  height: 30px;
}

.forecast-component {
  text-align: left;
  margin: 0;
  font-size: 12px;
  background: white;
  margin: 0.5%;
}

.long {
  width: 35%;
}

.long-hourly {
  width: 35%;
}

.medium {
  width: 15%;
}

.medium-hourly {
  width: 30%;
}

.short {
  width: 10%;
}

.short-hourly {
  width: 20%;
}

.tiny {
  width: 5%;
}

.hidden {
  display: none;
}

.icon {
  margin-top: 0.25%;
}

#hourly-header {
  display: flex;
  flex-direction: row;
  width: 50%;
}

#flex-hourly {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.hour-rows {
  display: flex;
  flex-direction: row;
}

.temp {
  display: flex;
  flex-direction: column;
}

#credit-banners {
  font-size: 12px;
}

a:link, a:visited {
  text-decoration: none;
  color: #282828;
}

@media (max-width: 1100px) {
  .daily-forecast-div {
    height: 50px;
  }
}

@media (max-width: 600px) {
  .daily-forecast-div {
    height: 70px;
  }
  .media-hide {
    display: none;
  }
}

@media (max-width: 500px) {
  .medium {
    width: 20%;
  }
}
