body {
  background: lightblue;
  font-family: verdana;
}

#flex-forecast {
  display: flex;
  flex-direction: column;
}

#forecast-header {
  display: flex;
  flex-direction: row;
}

.header {
  /*width: 20%;*/
  font-size: 12px;
  text-align: left;
  margin: 0.5%;
}

h4 {
  font-size: 12px;
  font-weight: bold;
}

.daily-forecast-div {
  display: flex;
  flex-direction: row;
  background: white;
  /*padding-right: 3%;*/
  /*padding-top: 0.5%;
  padding-bottom: 0.5%;*/
  border: 1px solid gray;
  text-align: center;
  height: 30px;
}

.forecast-component {
  /*width: 20%;*/
  text-align: left;
  margin: 0;
  font-size: 12px;
  background: white;
  /*margin-top: 0.5%;
  margin-bottom: 0.5%;*/
  margin: 0.5%;
}

.long {
  width: 40%;
}

.medium {
  width: 15%;
}

.short {
  width: 8%;
}

/*.bottom-padding {
  padding-bottom: 10%;
}*/

.hidden {
  display: none;
}

.icon {
  margin-top: 0.25%;
}
